.marker{
    display: flex;
    margin: auto;
    justify-content: space-around;
    color: #fff;
}

.team_marker{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.text_marker{
    margin: auto 2vh;
}