.quest{
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 1vh auto;
    padding: 1vh 2vh;
    border-radius: 5px;
    justify-self: center;
    cursor: pointer;
}


.isSelectOption{
    border: yellow solid 5px;
}

.optionCorrect{
    background: chartreuse;
}

.optionIncorrect{
    background: #f00;
}

.notShowResults{
     background: #333 ;
}