
<div class="card_quest">

    <div class="quest-title">
        <p>{{quest.titleQuest}}</p>
    </div>
    <div class="quest-body">
        <div *ngFor="let option of quest.listOptions; index as i" (click)="chooseOption(i)">
            <option-quest-game-quest [optionQuest]="option" [showResults]="showResults" 
            [isSelect]="(optionChoosed == i)?true:false"></option-quest-game-quest>
        </div>     
    </div>

    <div class="buttons_container">
        <div *ngIf="!showResults">
            <button (click)="checkResult()" [disabled]="optionChoosed == -1"> Check</button>
        </div>
        <div *ngIf="showResults">
            <button (click)="sendResults()">NextTeam</button>
        </div>
    </div>

    <div>
        Current team: {{teamCurrent}}
        Difficulty: {{quest.difficulty}}
        Unit: {{quest.unit}}
    </div>
</div>

